
results/
__pycache__/
.ipynb_checkpoints/
.env
.venv/

# LaTeX auxiliary files
*.aux
*.log
*.vscode

# Veri setleri ve veritabanları
data/database/
data/train_formatted.jsonl

# Model ağırlıkları ve adaptörler
models/
lora_model.zip
models_02.06.2026/
